<!DOCTYPE html>
<html lang="en" style="background: aqua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="height: 50%; width: 100%; background: aqua">
<div class="container">
    <img src="../static/raw/circLogo.png" style="display: block;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
      width: 25%;" alt="logo">
</div>
<main style="height: 100%; width: 100%">
    <!--
    <article>
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase">Inicio de sesión</h2>
                                    <p class="text-white-50 mb-5">Introduce tu nombre y contraseña</p>

                                    <div class="form-outline form-white mb-4">
                                        <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                                        <label class="form-label" for="loginform">Nombre</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                                        <label class="form-label" for="typePasswordX">Contraseña</label>
                                    </div>

                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Iniciar Sesión</button>

                                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                        <a href="#" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                        <a href="#" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                        <a href="#" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                                    </div>

                                </div>

                                <div>
                                    <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
    -->
    <div class="container" style="margin-top: 5%; border-radius: 3%; height: 20%;
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);">
        <form id="loginform" th:action="@{/login}" method="post" role="form">
            <div class="form-group">
                <h2 for="email" style="color: #f2f2f2">Nombre Usuario</h2>
                <input type="text" name="email" id="email"
                       class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <h2 for="password" style="color: #f2f2f2">Contraseña</h2>
                <input style="margin-bottom: 1%" type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
            <small class="text-muted"><a href="/register">No estas registrado?</a></small>
            <button type="submit" class="btn btn-primary" style="color: #f2f2f2">Submit</button>
        </form>
    </div>
    <!--
    <form id="loginform" th:action="@{/login}" method="POST" role="form" >
        <h1>Login</h1>
        <input type="text" name="email" id="email" placeholder="Email">
        <br>
        <input type="password" name="password" id="password" placeholder="Password">
        <hr>
        <button type="submit">Continue</button>
        <small class="text-muted"><a href="/auth/register">Register here!</a></small>
    </form>-->
</main>
</body>
</html>